.btn-flat {
    background-color: purple;
    color: white;
  }

.btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.super-btn{
    background-color: rgb(255, 157, 127);
}
.container{
    border-bottom: solid;
}
.col{
    background-color: aquamarine;
    border-left: solid;
    border-color: black;
    border-width: 2px;
}
.row{
    border-right: solid;
    border-top: solid;
    border-color: black;
    border-width: 2px;
}